@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$primary-color: #ff6ed9;
$primary-color-light: #ffe6e7;
$secondary-color: #4c3db2;
$secondary-color-light: #9e98dc;

// taking the fonts weight as params for easy customisation
@mixin font--primary($weight) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  letter-spacing: 0.15em;
}

@mixin font--secondary($weight) {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  letter-spacing: 0.025em;
}
