@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  position: relative;

  .searchbar_container {
    background-color: bv.$secondary-color;
    opacity: 40%;
    height: 1.5fr;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    position: relative;
  }

  @include q.tablet {
    padding: 0 1.5em 1.5em 1.5em;
  }

  @include q.laptop {
    padding: 0 2em 2em 2em;
  }
}
