@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.card {
  display: grid;

  & img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &_right {
    display: flex;
    flex-direction: column;
    @include bv.font--secondary(400);

    .card_content {
      & h4 {
        @include bv.font--primary(800);
      }

      & p {
        font-size: small;

        &:last-of-type {
          margin-top: 0.5em;
          font-size: medium;
        }
      }

      & h4,
      p {
        margin: 0.25em;
      }
    }

    & button {
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      border-radius: 8px;
      padding: 14px 24px 16px;
      font-weight: 700;
      line-height: 1;
      transition: transform 100ms, background-color 100ms;
      background: transparent;
      color: bv.$secondary-color;
      box-shadow: 0 0 0 3px bv.$secondary-color inset;
      margin-top: auto;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 0 3px bv.$primary-color inset;
        color: white;
        background: bv.$primary-color;
      }
    }
  }

  @include q.phone {
    grid-template-rows: 0.25fr 0.5fr;
    grid-template-columns: 1fr;
    row-gap: 1em;

    & img {
      width: auto;
      height: 100%;
      justify-self: center;
    }
  }

  @include q.tablet {
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    max-width: calc(50% - 1em);
    padding: 0.75em;
    column-gap: 1em;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  @include q.laptop {
    max-width: calc(33.33% - 1em);
    padding: 1em;
    grid-template-rows: 280px;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
