@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.card {
  flex: 1 0 100%;
  position: relative;
  display: flex;
  // flex-wrap: wrap;
  // gap: 1em;

  &_imgContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include bv.font--secondary(400);
    padding: 0.5em;

    .card_content {
      & h4 {
        @include bv.font--primary(800);
        font-size: large;
      }

      & p {
        font-size: small;
      }

      & h4,
      p {
        // padding: 0 0 0 0.5em;
        margin: 0.25em;
      }
    }

    & button {
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      border-radius: 8px;
      padding: 14px 24px 16px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      transition: transform 100ms, background-color 100ms;
      background: transparent;
      color: bv.$secondary-color;
      box-shadow: 0 0 0 3px bv.$secondary-color inset;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 0 3px bv.$primary-color inset;
        color: white;
        background: bv.$primary-color;
      }
    }
  }

  // @include q.large-phone {
  //   width: 80%;
  // }

  // @include q.tablet {
  //   max-width: calc(50% - 1em);
  //   padding: 0.5em;
  // }

  @include q.laptop {
    max-width: calc(33.33% - 1em);
    padding: 1em;
  }
}
