@use "../../scss/partials/brand-variables" as bv;

.modal {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1em;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  & button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 16px 24px 16px;
    font-weight: 700;
    line-height: 1;
    transition: transform 100ms, background-color 100ms;
    background: transparent;
    color: bv.$secondary-color;
    box-shadow: 0 0 0 3px bv.$secondary-color inset;
    margin-top: auto;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 0 3px bv.$primary-color inset;
      color: white;
      background: bv.$primary-color;
    }

    &.button_close {
      justify-self: flex-end;
      @include bv.font--secondary(800);
      padding: 0.5em;
      color: black;
      background: none;
      box-shadow: none;

      &:hover {
        color: white;
        background: bv.$secondary-color-light;
      }
    }
  }

  .card {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    column-gap: 0.5em;

    & img {
      justify-self: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &_right {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      @include bv.font--secondary(400);

      & h5 {
        @include bv.font--primary(800);
      }

      & p {
        font-size: small;

        &:last-of-type {
          margin-top: 0.5em;
        }
      }

      & h5,
      p {
        margin: 0.25em;
      }
    }
  }
}
