@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.modal {
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  .modal_wrapper {
    button {
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      border-radius: 8px;
      padding: 16px 24px 16px;
      font-weight: 700;
      line-height: 1;
      transition: transform 100ms, background-color 100ms;
      background: transparent;
      color: bv.$secondary-color;
      box-shadow: 0 0 0 3px bv.$secondary-color inset;
      margin-top: auto;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 0 3px bv.$primary-color inset;
        color: white;
        background: bv.$primary-color;
      }

      &.button_close {
        margin: auto 0;
        @include bv.font--secondary(800);
        padding: 10px 18px 10px;
        color: black;
        background: none;
        box-shadow: none;

        &:hover {
          color: white;
          background: bv.$secondary-color-light;
        }
      }
    }

    .modal_header {
      display: flex;
      justify-content: flex-end;
    }

    .modal_main {
      .modal_card {
        display: grid;

        & img {
          justify-self: center;
          height: 100%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        & h4 {
          @include bv.font--primary(800);
          font-size: x-large;
          margin: 0 0 0.4em 0;
        }

        & p:first-of-type {
          font-size: small;
        }

        & p:last-of-type {
          margin-bottom: 1em;
        }

        & p {
          margin: 1em 0 0 0;
        }

        & p,
        h4 {
          padding-left: 0.25em;
        }

        a {
          margin-top: auto;
        }

        @include q.tablet {
          grid-template-rows: auto;
          grid-template-columns: auto 1fr;
          column-gap: 1em;
        }

        @include q.laptop {
          grid-template-rows: auto;
          grid-template-columns: auto 1fr;
          column-gap: 1em;
        }
      }
    }
  }

  @include q.laptop {
    width: 65%;
  }
}
