@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.bookGrid_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 1em;
  gap: 1.5em;

  @include q.phone {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}
