@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.bookGrid {
  &_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 1em;
    gap: 1.5em;
    padding-left: 3em;
    padding-right: 3em;

    @include q.phone {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
