@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.bookGrid_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1em;
  gap: 1em;
}
