@use "../../scss/partials/brand-variables" as bv;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  @include bv.font--primary(500);

  & .logo_container {
    height: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
  }
}
