@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  @include bv.font--primary(500);
  position: relative;

  .container {
    background-color: bv.$primary-color-light;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    position: relative;
  }

  .img_wrapper {
    width: 100%;
    height: auto;
  }

  @include q.tablet {
    padding: 1.5em;

    .container {
      padding-top: 4.5em;
    }

    .header_wrapper {
      position: absolute;
      top: 0;
      width: 65%;
    }

    h2 {
      font-size: 1.5em;
    }
    .img_wrapper {
      width: 80%;
      height: auto;
    }
  }

  @include q.laptop {
    padding: 2em;

    .container {
      padding-top: 10em;
    }

    .header_wrapper {
      position: absolute;
      top: 0;
      width: 55%;
    }

    h2 {
      font-size: 3em;
    }

    .img_wrapper {
      width: 50%;
      height: auto;
    }
  }
}
