// partials
@use "./scss/partials/brand-variables" as bv;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
